<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/projects/{{options.projectKey}}">{{options.title}}</a>
  <button  *ngIf="options.showOptions" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="options.showOptions" class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="isCollapsed">
    <ul [hidden]="isTestView" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/projects">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects/{{options.projectKey}}/requirements">Requirements Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects/{{options.projectKey}}/feedback">Comments</a>
      </li>
    </ul>
  </div>
</nav>
