<div class="dialog">
  <h1>Update Screen Image</h1>
  <form>
    <div class="form-group">
      <label>Message</label>
      <input type="text" class="form-control" [(ngModel)]="message" name="committMessage">
    </div>
    <div class="form-check">
      <div class="center">
        <file-drop headertext="Drop one image here" (onFileDrop)="dropped($event)"
                   (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <span></span>
        </file-drop>
        <div class="upload-table">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>
            <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
              <td><strong>{{ item.relativePath }}</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="showImgTypeErrorMessage" class="alert-danger" style="padding: 6px;">
        Please upload a file with the following extensions: <br/> {{screen.imageExtension}}
      </div>
    </div>
    <button class="btn btn-success" (click)="onSubmit()">Save Changes</button>
    <button class="btn" (click)="onCancel()">Cancel</button>
  </form>
</div>
