<div *ngIf="project" class="container">
  <h1>{{project.name}}</h1>
  <button *ngIf="githubSignedIn" type="button" class="btn btn-primary btn-bottom" (click)="addScreen()">Create Screen</button>
    <div *ngFor="let screen of screens" class="card m-3 card-screen">
      <a (click)="goToScreen(screen.$key)" style="text-decoration:none; cursor: pointer;"><h3 class="card-header">{{screen.name}}</h3></a>
      <div class="card-body">
        <h6 class="card-subtitle text-muted">{{screen.creationDate}}</h6>
      </div>
      <a (click)="goToScreen(screen.$key)">
        <img *ngIf="screen.image" style="height: 200px; width: 100%; display: block;" src="{{screen.image}}" alt="Card image">
      </a>
      <div class="card-body">
        <p class="card-text">{{screen.description}}</p>
      </div>
      <div class="card-body">
        <a (click)="goToScreen(screen.$key)" class="card-link"  style="cursor: pointer;">Go to Screen</a>
        <a [href]="screen.gitHubUrl" class="card-link">GitHub</a>
        <button *ngIf="githubSignedIn" class="btn delete" (click)="deleteScreen(screen)" style="width: 18px; height: 22px; float: right; background-size: 18px 20px;"></button>
      </div>
      <div class="card-footer text-muted">
        Created by: {{screen.createdBy}}
      </div>
  </div>
</div>
