.gjs-two-color {
  color: #f6f2fb !important;
}
.gjs-four-color {
  color: #895fcb !important;
}
.gjs-one-bg {
  background-color: #474747 !important;
}

.dialog{
  margin: 16px;
  padding: 10px;
}
.btn-bottom {
  position: fixed;
  bottom: 50px;
  right: 70px;
}
.add {
  background-image: url('assets/images/add.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.delete {
   background-image: url('assets/images/delete_purple.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-color: transparent;
 }
.back {
  background-image: url('assets/images/back.svg');
  background-repeat: no-repeat;
  background-color: transparent;
}
.copy {
  background-image: url('assets/images/copy.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
