<div>
  <div>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" (click)="onCancel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>{{message}}</label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="onSubmit()">Accept</button>
        <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
